.calendar_table {
    width: 100%;
    margin-top: 10px;
    background: #dcdcdc;
    padding: 1px 1px 0 0;
    &:after {
        content: '';
        clear: both;
        display: table;
    }
}
.empty {
    width: calc(100%/7);
    float: left;
    > div {
        background: #f9f9f9 !important;
        padding: 5px 10px;
        transition: background 0.2s;
    }
}
.day {
    width: calc(100%/7);
    float: left;
    padding-left: 1px;
    padding-bottom: 1px;
    &:not(.week):not(.empty):hover > div {
        background: #FFFADF;
        cursor: pointer;
    }
    &.week > div {
        padding: 5px 0;
        background: #f7f7f7;
        font-size: 14px;
        text-align: center;
    }
    > div {
        background: white;
        padding: 5px 10px;
        transition: background 0.2s;
    }
    h2 {
        text-align: right;
        font-size: 16px;
        font-weight: bold;
        color: #666666;
    }
    .today {
        font-size: 14px;
        color: #DC3545;
        font-weight: normal;
        margin-right: 10px;
        border: 1px solid #DC3545;
        padding: 1px 5px 2px;
        border-radius: 5px;
    }
    .content {
        height: 110px;
        overflow-y: auto;
        padding: 0 5px;
        &::-webkit-scrollbar {
            width: 3px;
          }
        &::-webkit-scrollbar-thumb {
        background-color: #4e5d7e;
        }
        &::-webkit-scrollbar-track {
        background-color: rgb(226, 226, 226);
        }
        ul {
            list-style: none;
            padding: 0;
            text-align: left;
            li {
                position: relative;
                overflow : hidden; 
                white-space: nowrap; 
                text-overflow:ellipsis; 
                &.complete {
                    text-decoration: line-through;
                    color: #dcdcdc;
                    svg {
                        color: #dcdcdc;
                    }
                }
                svg {
                    color: lightcoral;
                    margin-right: 5px;
                    font-size: 13px;
                }
            }
        }
    }
}
.popup {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 99999;
	background: rgba(0,0,0,0.4);
    display: none;
    &.pop_show {
        display: block;
        .popup_box {
            transform: scale(1);
        }
    }
	.popup_box {
        width: 600px;
		min-width: 300px;
		position: absolute;
		top: 100px;
		left: 50%;
        margin-left: -300px;
		margin-bottom: 50px;
        transform: scale(0);
        transition: transform 0.3s ease;
		.popup_close {
			width: 35px;
			height: 35px;
			position: absolute;
			top: 20px;
			right: 20px;
			border: none;
			background: none;
			outline: none;
			transition: color 0.2s;
			&:hover {
				color: black;
			}
			i {
				font-size: 18px;
			}
		}
		.popup_inner {
			margin: 10px;
			background: white;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
			border-radius: 10px;
            overflow: hidden;
            background: white;
			padding: 20px 30px;
            h2 {
                font-size: 22px;
                text-align: left;
            }
		}
	}
    .todos {
        list-style: none;
        padding: 0;
        margin-top: 10px;
        li {
            margin-bottom: 5px;
        }
        input[type="checkbox"] {
            cursor: pointer;
        }
        .empty_todos {
            padding: 30px 0;
            text-align: center;
        }
    }
}
